@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    
    <li class="mojli">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="mojbutton">Logout</button>
        </form>
    </li>
       <li class="nav-item">
   <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"> <img width="50" height="50" src="https://i.ibb.co/vB2zN98/logoZ.png"/></a>
      </li>          
}
else
{
    <li class="nav-item">
        <a class="zelena-nav" asp-area="Identity" asp-page="/Account/Register"><b>Register</b></a>
    </li>
    <li class="nav-item">
        <a class="zelena-nav" asp-area="Identity" asp-page="/Account/Login"><b>Login</b></a>
    </li>
       <li class="nav-item">
    <img width="50" height="50" src="https://i.ibb.co/dKZL9VK/login.png"/>
      </li> 
}
</ul>
