@{
    ViewData["Title"] = "Add Movie";
}

<form action="/Editor/UploadMovie" enctype="multipart/form-data" method="post">
    <input type="file" name="file" accept="video/mp4,video/x-m4v,video/*"/>
    <label for="">IMDB URL:</label>
    <input type="text" id="imdbUrl" name="imdbUrl"/>
    <input type="submit"/>
</form>