@model IEnumerable<DMovies.Models.Movie>
@{
    ViewData["Title"] = "Home Page";
}


<style>
   
    .Movie-poster{        
        width:30%;
        height:100%;
        flex-grow : 1;
    }
    .siva{
        background-color:#212121;
        color: white;
        text-align:center;
        }
     .card {
      box-shadow: 0 4px 8px 0 rgb(0, 99, 18, 0.9);
      transition: 0.3s;
      border-block-color:#212121;
      border-color:#212121;
      color:#212121;
      background-color:#212121;
        }
    .card:hover {
      box-shadow: 0 10px 20px 0 rgb(0,0,0, 0.9);
    }
    .card-body{
        text-align:center;
        align-content:center;  
    }

</style> 
  <div class="siva">
       <div class="fav">  <header> My favourites</header> </div>
        <div class="mainGroup d-flex flex-wrap justify-content-md-between justify-content-center">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">

                @foreach (var movie in Model)
                {
                   
                    <div class="col-sm-6 col-md-3" style="margin-bottom:20px;" >
                        <div class="card"> 
                            <a >
                                        <img src="@movie.streamLink" class="card-img-top" alt="@movie.name">
                                    
                                    </a>
                            
                            <div class="cardBody card-body">
                                <div style="justify-content:space-between; text-align:center;">

                                    <div class="title mb-1 mr-4 card-title siva align-content-center" style="width:100%;">@movie.name</div>
                                    
                                </div>

                            </div>

                        </div>
                    </div>                  
                }
            </div>
        </div>
    <div style="height:50px"></div>
</div>