
@model DMovies.Models.Movie

@{
    ViewData["Title"] = "Index";
}
<div>
    <div style="text-align:center;">
        
          
      <form asp-action="SearchResults" asp-controller="Movies" style="text-align:center; ">
               <input  asp-for="name"   class="mojsearch" type="text"  placeholder="Search..." style="align:center; width:100%; margin-bottom:50px;"/>
                 <button type="submit" class="mojbutton" style="width:100px;">Search</button>
                     </form>  
                
                   
                 
    </div>
</div>