.content {
    color: white;
    display: flex;
    gap: 50px;
    justify-content: center;
    width: 100%;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 24px;
}

.movieInfo {
    display: flex;
    flex-direction: column;
    align-items: start;
    min-width: 400px;
    
    background: #ffffff20;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 30px;
}

.video {
    width: 800px;
}

.downloadButtons {
    display: flex;
    gap: 20px;
}

.download {
    padding: 4px;
    background: none;
    border-width: 3px;
    border-color: #999999;
    color: #999999;
    font-weight: bold;
}
